<!-- views/appointments/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Appointments</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Your Appointments</h1>
    <a href="/users/<%=user._id%>/appointments/new">Book an Appointment</a>
    <ul>
      <% appointments.forEach((appointment)=>{ %>
        <li>
          <a href="/users/<%= user._id %>/appointments/<%= appointment._id %>">
          <%= appointment.servicetype %> for <%= appointment.carmake %> at <%= appointment.date %> <%= appointment.time %> </a>
        </li>
          <% }) %>
    </ul>
  </body>
</html>
