<!-- views/appointments/show.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= appointment.carmake %></title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= appointment.carmake%> for <%= appointment.servicetype %></h1>
    <% if (appointment.notes) { %>
    <p>Notes: <%= appointment.notes %></p>
    <% } %>
    <p>The time of this appointment is: <%= appointment.time %></p>
    <a href="/users/<%= user._id %>/appointments/<%= appointment._id %>/edit">
        Edit this appointment
      </a>
    <form
      action="/users/<%= user._id %>/appointments/<%= appointment._id %>?_method=DELETE"
      method="POST"
    >
      <button type="submit">Delete this appointment</button>
    </form>
  </body>
</html>
